# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage & Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Node
node_modules/