{% load document_tags %}
<table class="totals-table">
    <tr>
        <td>Subtotal:</td>
        <td style="text-align: right;">{{ document.subtotal|money }}</td>
    </tr>
    {% if document.discount and document.discount > 0 %}
    <tr>
        <td>Discount:</td>
        <td style="text-align: right; color: #C53030;">-{{ document.discount|money }}</td>
    </tr>
    {% endif %}
    {% if document.vat and document.vat > 0 %}
    <tr>
        <td>Tax / VAT:</td>
        <td style="text-align: right;">{{ document.vat|money }}</td>
    </tr>
    {% endif %}
    <tr class="grand-total">
        <td>GRAND TOTAL:</td>
        <td style="text-align: right;">{{ document.total|money }}</td>
    </tr>
</table>
